<div class="conteiner cont">
  <h1 mat-dialog-title>Nueva Reserva</h1>
  <hr />
  <div *ngIf="!isValid" class="alert alert-danger" role="alert">
    <strong>Tenemos un error!</strong> {{ messageInfo }}
  </div>

  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>DatosCliente</ng-template>
        <button type="button" class="btn btn-success" (click)="onNoClick()">
          Agregar Usuario
        </button>
        <div class="list">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Buscar"
            />
          </mat-form-field>

          <mat-table [dataSource]="dataSourceList">
            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="document">
              <mat-header-cell *matHeaderCellDef> documento </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.document }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="phone">
              <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.phone }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="city">
              <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.city }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef> acciones </mat-header-cell>
              <mat-cell *matCellDef="let user">
                <button mat-button matStepperNext (click)="edit(user)">
                  Ok
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="form-main">
        <ng-template matStepLabel>Fecha de reserva</ng-template>

        <div class="form-group">
          <label for="text"
            ><b><h4>Fecha de llegada</h4></b>
          </label>
          <mat-form-field class="full-width">
            <input
              matInput
              [min]="getMinDateInput"
              [max]="getMaxDateInput"
              [matDatepicker]="picker1"
              placeholder="Selecciona la fecha llegada"
              (dateInput)="setFilterDateMax()"
              [formControl]="dateInputControl"
              [(ngModel)]="reserveActually.deteInput"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error
              align="end"
              *ngIf="!dateInputControl.hasError('reqired')"
            >
              Ingrese una fecha <span>Valida</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label for="text"
            ><b><h4>Fecha de Salida</h4></b>
          </label>
          <mat-form-field class="full-width">
            <input
              matInput
              [min]="getMinDateOutput"
              [max]="getMaxDateoutput"
              [matDatepicker]="picker2"
              placeholder="Selecciona la fecha salida"
              [formControl]="dateOutputControl"
              [(ngModel)]="reserveActually.dateOutput"
              (dateInput)="checkDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error
              align="end"
              *ngIf="!dateOutputControl.hasError('reqired')"
            >
              Ingrese una fecha <span>Valida</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="threeFormGroup">
      <form [formGroup]="threeFormGroup">
        <ng-template matStepLabel>Tipo de Reserva</ng-template>
        <div class="form-main">
          <div class="form-group">
            <mat-form-field>
              <mat-select
                placeholder="Tipo de Reserva"
                [formControl]="selectControl"
                [(ngModel)]="reserveActually.idTypeReserve"
                required
              >
                <mat-option>Seleccione el tipo de la reserva</mat-option>
                <mat-option
                  *ngFor="let typeReserve of typeReserveList"
                  [value]="typeReserve.id"
                  (click)="setNumBed()"
                >
                  {{ typeReserve.nameType }}
                </mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="selectControl.hasError('required')"
                >Por favor, seleccione el tipo de reserva</mat-error
              >
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="isValidDiv2">
            <h4>Numero de camas</h4>
            <mat-form-field>
              <mat-select
                placeholder="Numero de camas"
                [formControl]="numBedControl"
                [(ngModel)]="reserveActually.numBed"
                required
                (click)="setNumBed()"
              >
                <mat-option>Seleccione el numero de camas</mat-option>
                <mat-option *ngFor="let bed of getNumBedList" [value]="bed">
                  {{ bed }}
                </mat-option>
              </mat-select>
              <mat-error align="end" *ngIf="numBedControl.hasError('required')"
                >Por favor,seleccione el numero de camas</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Crear reserva</ng-template>
      <div *ngIf="isValidDiv3">
        <h4>Datos de reserva</h4>
        <hr />
        <p>Usuario: {{ userActually.firstName }} {{ userActually.lastName }}</p>
        <p>
          Fecha de Reserva:
          {{ reserveActually.dateReserve | date: "mediumDate" }}
        </p>
        <p>
          Fecha de Entrada: {{ reserveActually.deteInput | date: "mediumDate" }}
        </p>
        <p>
          Fecha de salida: {{ reserveActually.dateOutput | date: "mediumDate" }}
        </p>
        <p>Numero de camas: {{ reserveActually.numBed }}</p>
        <hr />

        <button type="button" class="btn btn-success" (click)="saveOurUpdate()">
          Crear reserva
        </button>

        <hr />
      </div>
      <div>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
        <button mat-button matStepperPrevious>Atras</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
