<div class="conteiner" >
  <h1 class ="title" >Provedores</h1>
  <button type="button" [routerLink]="['/createProvedores']" class="btn btn-success">Agregar Provedores</button>
  <div class="clear"  ></div>

 <div class="list">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <mat-table [dataSource]="dataSourceList" >

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> No°. </mat-header-cell>
        <mat-cell *matCellDef="let provider"> {{provider.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let provider" > {{provider.nameProvider}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell  *matHeaderCellDef> Ciudad </mat-header-cell>
        <mat-cell  *matCellDef="let provider"> {{provider.cityProvider}} </mat-cell>
      </ng-container>

       <!-- Name Column -->
       <ng-container matColumnDef="phone">
        <mat-header-cell  *matHeaderCellDef> Telefono </mat-header-cell>
        <mat-cell  *matCellDef="let provider"> {{provider.phoneProvider}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="nit">
        <mat-header-cell  *matHeaderCellDef> nit </mat-header-cell>
        <mat-cell  *matCellDef="let provider"> {{provider.nitProvider}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> acciones </mat-header-cell>
          <mat-cell *matCellDef="let provider">
            <button mat-raised-button (click)="edit(provider)">
                <i class="material-icons">edit</i>
            </button>
          </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="getDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getDisplayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
