<div class="conteiner">
    <h1 >Primeros pasos</h1>
    <hr>
    <div class="row">

      <div class="col-xl-12">
          <h3>Nota:  Puedes acceder a esta pantalla en cualquier momento desde el menú superior,
              Primeros Pasos.</h3>
      </div>
    <hr>
      <div class="col-xl-12">
          <h2>Configurar lo más básico en dos pasos:</h2>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 div-order">

            <p>1. <a routerLink="/tipoReserva">Configurar tipos de reserva: </a>
              Indica los tipos de reservas que dispones: Nombre y precio. Ademas puedes añadir nuevos tipos.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <p>2.<a routerLink="/habitacion">Configurar habitaciones: </a>
              Aquí le pondrás el nombre a cada habitacion (101, 102, src/app. o también nombres
              propios), y con que tipo de habitación esta vinculada.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <h2>Panel de información:</h2>
        </div>
    </div>
    <hr>
     <div class="row">
        <div class="col-xl-12">
            <p>1.  <a routerLink="/dashboard">información: </a>
              Aquí podras ver facilmente todos los datos relevantes del día.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>2.  <a routerLink="/infoReserva">Reservas: </a>
              Muestra las  reservas realizadas y en espera.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>3.  <a routerLink="/infoReserva">Historial de Reservas: </a>
              Muestra el historial de reservas realizadas.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>4.  <a routerLink="/user">Clientes: </a>
              Muestra el listado de clientes.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <p>5.  <a routerLink="/inventario">Inventario: </a>
              Gestiona todo lo referente al Inventario del hotel.</p>
        </div>
    </div>

  </div>

