<div class="conteiner">
    <h1 >Primeros pasos</h1>
    <hr>
    <div class="row">
      <div class="col-xl-12">
          <h2>Configurar lo más básico en dos pasos:</h2>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12 div-order">

          <p>1.<a routerLink="/datosHabitaciones">Configurar tipos de habitación: </a>
            Indica los tipos de habitaciones de que dispones: habitación o cama. El precio base y su capacidad.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <p>2.<a routerLink="/datosHabitaciones">Configurar habitaciones: </a>
              Aquí le pondrás el nombre a cada habitacion (101, 102, ... o también nombres
              propios), y con que tipo de habitación esta vinculada.</p>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <h2>Configurar el resto de módulos:</h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-12">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
        </div>
    </div>
</div>


