<div class="conteiner">
  <h1 class="title">Crear estado</h1>
  <hr>
  <hr>
  <div *ngIf="false" class="alert alert-danger" role="alert">
    <strong>Tenemos un error!</strong> {{ messageInfo }}
  </div>
<form class="form-main">

  <div class="form-group">
    <label for="text"><b><h4>Nombre del Estado</h4></b> </label>
    <mat-form-field class="full-width">
      <input matInput #name maxlength="30" placeholder="Ingrese el nombre" [formControl]="nameControl" [(ngModel)]="stateActually.nameState">
      <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
      <mat-error *ngIf="nameControl.hasError('maxLength') && !nameControl.hasError('required')">
        Por favor ingrese un nombre valido
      </mat-error>
      <mat-error *ngIf="nameControl.hasError('required')">
        El nombre es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-radio-group  class="radio-group" [(ngModel)]="stateActually.colorState" name="first">
      <mat-radio-button class="radio-button" *ngFor="let color of colorList" [value]="color">
       {{color}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="example-selected-value">Tu color es : {{stateActually.colorState}}</div>
  </div>



  <div class="form-group">
    <label for="text"><b><h4>Descripción del Estado</h4></b> </label>
    <mat-form-field class="full-width">
      <input matInput #desc maxlength="100" placeholder="Ingrese una descripción del producto" [formControl]="descControl" [(ngModel)]="stateActually.descState">
      <mat-hint align="end">{{desc.value.length}} / 100</mat-hint>
      <mat-error *ngIf="descControl.hasError('maxLength') && !descControl.hasError('required')">
        Por favor ingrese una descripción  valida
      </mat-error>
      <mat-error *ngIf="descControl.hasError('required')">
        La descripción  es <strong>requerida</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <hr>
  <div class="row btn-div">
    <div class="col-xl-6 text-center">
      <button type="submit" class="btn btn-primary btn-block btn-save" (click)="saveOurUpdate()">
        Guardar
      </button>
    </div>
    <div class="col-xl-6 text-center">
      <button
        type="button"
        [routerLink]="['/estadoHabitacion']"
        class="btn btn-success btn-block"
      >
        Cancelar
      </button>
    </div>
  </div>

</form>
</div>
