<div class="conteiner">
<h1>Informes de Reservas</h1>
<hr>

<div class="conteiner cont-base">

  <div class="row">
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-12"><button type="button" class="btn btn-lg btn-block btn-outline-success">Entradas hoy</button></div>
        <div class="col-xl-12"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Salidas hoy</button></div>
      </div>
    </div>
    <div class="col-xl-4">
       <div class="row">
          <div class="col-xl-12">  <button type="button" class="btn btn-lg btn-block  btn-r">Realizadas</button></div>
          <div class="col-xl-12"><button type="button" class="btn btn-lg btn-block btn-outline-success btn-c">Canceladas</button></div>
      </div>
    </div>
    <div class="col-xl-4">
        <div class="row">
            <div class="col-xl-12"><button type="button" class="btn btn-lg btn-block btn-outline-success btn-e">Estancia</button></div>
            <div class="col-xl-12"><button type="button" class="btn btn-lg btn-block btn-outline-success btn-s">Sin asignar</button></div>
          </div>
    </div>
    </div>












</div>

</div>
