.cont-base{
  border-color: #dddddd;
}

.btn-outline-primary{
  color: #5bc0de;
  border-color: #5bc0de;
}

.btn{
  margin: 2px;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.btn-r{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-r:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-c{
  color: #fff;
  background-color: #c24846;
  border-color: #c24846;
}

.btn-c:hover {
  background-color: #dc3545;
  border-color: #dc3545;

}



.btn-e{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-e:hover {
  background-color: #286090;
  border-color: #286090;
}

.btn-s{
  color: #fff;
  background-color: #e8ab55;
  border-color: #d58512;
}

.btn-s:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

