<div class="conteiner">
    <h1 class="title">Reservas</h1>
    <hr>
    <div class="clear"></div>
    <div class="list">
      <mat-table [dataSource]="dataSourceList">
        <!-- Position Column -->
        <ng-container matColumnDef="idReserve">
          <mat-header-cell *matHeaderCellDef> No°. </mat-header-cell>
          <mat-cell *matCellDef="let reserve"> {{ reserve.idReserve }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idClient">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let reserve"> {{ getNameUser(reserve.idClient)}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dateReserve">
          <mat-header-cell *matHeaderCellDef> Fecha reserva </mat-header-cell>
          <mat-cell *matCellDef="let reserve"> {{ reserve.dateReserve | date:'mediumDate'}} </mat-cell>
        </ng-container>s

        <!-- Name Column -->
        <ng-container matColumnDef="idStateReserve">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let reserve">
          <mat-select
              [(ngModel)]="reserve.idStateReserve"

              required
            >
                <mat-option
                *ngFor="let state of stateReserveList"
                [value]="state.idState"
                (click)=saveOurUpdate(reserve)
              >
                {{ state.nameState }}
              </mat-option>
            </mat-select>

          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="deteInput">
          <mat-header-cell *matHeaderCellDef> Entra </mat-header-cell>
          <mat-cell *matCellDef="let reserve"> {{  reserve.deteInput | date:'mediumDate' }}  </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="dateOutput">
          <mat-header-cell *matHeaderCellDef> Salida </mat-header-cell>
          <mat-cell *matCellDef="let reserve">{{ reserve.dateOutput | date:'mediumDate' }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idTypeReserve">
          <mat-header-cell *matHeaderCellDef> Tipo</mat-header-cell>
         <mat-cell *matCellDef="let reserve">
          {{getNameTypeReserve(reserve.idTypeReserve)}}
           </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numBed">
          <mat-header-cell *matHeaderCellDef> Camas </mat-header-cell>
          <mat-cell *matCellDef="let reserve"> {{ reserve.numBed }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
