<div class="conteiner">
  <h1 class="title">Mi establecimiento</h1>
  <hr />

  <div class="row">
    <div class="col-xs-12 col-xl-12 card">
      <button
        type="button"
        [routerLink]="['/datosHotel']"
        class="btn btn-primary btn-lg btn-data-hotel"
      >
        Datos del hotel
      </button>
    </div>

    <div class=" col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/tipoReserva']"
        class="btn btn-primary btn-lg"
      >
        Tipo de reservas
      </button>
    </div>


    <div class=" col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/habitacion']"
        class="btn btn-primary btn-lg"
      >
        Habitaciones
      </button>
    </div>

   <div class="col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/provedores']"
        class="btn btn-primary btn-lg btn-prov"
      >
        Provedores
      </button>
    </div>
  </div>
</div>
