<div class ="conteiner">
  <h1 class ="title" >Mi establecimiento</h1>
  <hr>


    <div class="row">
        <div class="col-xs-12 col-xl-6 card">
            <button type="button" class="btn btn-primary btn-lg ">Datos del hotel</button>
          </div>
          <div class=" col-xs-12 col-xl-6 card">
            <button type="button" class="btn btn-primary btn-lg">Habitaciones</button>
          </div>
          <div class="col-xs-12 col-xl-6 card">
            <button type="button" class="btn btn-primary btn-lg">Tipos de habitaciones</button>

          </div>
          <div class="col-xs-12 col-xl-6 card">
            <button type="button" class="btn btn-primary btn-lg">Servicios</button>
            </div>
    </div>


</div>

