<div class="conteiner">
  <h1 class="title">Mi establecimiento</h1>
  <hr />

  <div class="row">
    <div class=" col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/estadoHabitacion']"
        class="btn btn-primary btn-lg"
      >
      Estados de la habitacion
      </button>
    </div>


    <div class=" col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/*']"
        class="btn btn-primary btn-lg"
      >
        Notificación de Reserva
      </button>
    </div>

   <div class="col-xs-12 col-xl-6 card">
      <button
        type="button"
        [routerLink]="['/*']"
        class="btn btn-primary btn-lg btn-prov"
      >
        -----
      </button>
    </div>
  </div>
</div>
