.div-card{
  margin: 5px;
  padding: 10px;
  background-color: #337ab7;

}

.div-card-info{
  margin-right: 5px;
}

.decoration-text{
  color: white;
}

.img-icon {
  width: 80px;
  height: 80px;
}

.div-row {
  max-height: 50px;
}
