.div-card{
  margin: 5px;
  padding: 10px;
  background-color: #337ab7;

}

.div-card-info{
  margin-right: 5px;
}

.decoration-text{
  color: white;
}

.img-icon {
  width: 70px;
  height: 70px;
}

.div-row {
  max-height: 50px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table{

  width: 100%;
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
}
