<div class="conteiner">
    <section>
        <H1>{{title}} {{dateDay | date:'mediumDate'}}</H1>
      </section>
      <div>
            <div class="row">
              <div class="col-xs-12   col-sm-12 col-lg-6  col-xl-3">
                <div class="row div-card">
                  <div class="col"><p>(-**-)</p></div>
                  <div class="col text-right div-card-infon" >
                      <div class="col-xl-12"><h1 class="decoration-text">0</h1></div>
                      <div class="col-xl-12"><p class="decoration-text">Entran hoy</p></div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12  col-lg-6 col-xl-3">
                <div class="row div-card">
                  <div class="col"><p>(-**-)</p></div>
                  <div class="col text-right div-card-infon" >
                      <div class="col-xl-12"><h1 class="decoration-text">0</h1></div>
                      <div class="col-xl-12"><p class="decoration-text">Salen hoy</p></div>
                    </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-6  col-xl-3">
                <div class="row div-card">
                  <div class="col"><p>(-**-)</p></div>
                 <div class="col text-right div-card-infon" >
                  <div class="col-xl-12"><h1 class="decoration-text">0</h1></div>
                  <div class="col-xl-12"><p class="decoration-text">Huéspedes</p></div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-lg-6  col-xl-3">
                <div class="row div-card">
                <div class="col"><p>(-**-)</p></div>
                <div class="col text-right div-card-infon" >
                  <div class="col-xl-12"><h1 class="decoration-text">0</h1></div>
                  <div class="col-xl-12"><p class="decoration-text">Ocupación</p></div>
                </div>
              </div>

            </div>
      </div>
</div>




















