<div class="conteiner">
  <section>
    <H1>{{ title }} {{ dateDay | date: "mediumDate" }}</H1>
  </section>
  <hr />
  <div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6  col-xl-3">
        <div class="row div-card">
          <div class="col-6 div-sub">
            <img src="/assets/log-in.png" alt="" class="img-icon"/>
          </div>
          <div class="col-6 text-right div-card-infon">
            <div class="col-xl-12 "><h1 class="decoration-text">{{numberClientInput}}</h1></div>
            <div class="col-xl-12">
              <p class="decoration-text">Entran hoy</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12  col-lg-6 col-xl-3">
        <div class="row div-card">
          <div class="col-6">
            <img src="/assets/logout.png" alt="" class="img-icon" />
          </div>
          <div class="col-6 text-right div-card-infon">
            <div class="col-xl-12"><h1 class="decoration-text">{{numberClientOutput}}</h1></div>
            <div class="col-xl-12">
              <p class="decoration-text">Salen hoy</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-6  col-xl-3">
        <div class="row div-card">
          <div class="col-6">
            <p>
              <img src="/assets/group.png" alt="" class="img-icon"/>
            </p>
          </div>

          <div class="col-6 text-right div-card-infon">
            <div class="col-xl-12"><h1 class="decoration-text">{{numberClient}}</h1></div>
            <div class="col-xl-12">
              <p class="decoration-text">Huéspedes</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-lg-6  col-xl-3">
        <div class="row div-card">
          <div class="col-6">
            <img src="/assets/building.png" alt="" class="img-icon"/>
          </div>
          <div class="col-5 text-right div-card-infon">
            <div class="col-xl-12"><h1 class="decoration-text">{{numberRoom}}/{{numberRoomTotal}}</h1></div>
            <div class="col-xl-12">
              <p class="decoration-text">Ocupación</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div>


  </div>
</div>
