<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <mat-toolbar>
        <button   class="btn-icon" [routerLink]="['/']" >
          <img src="/assets/icono.png" alt="" class="img-icon"/>
        </button>

      </mat-toolbar>
      <mat-nav-list>
        <button class="btn_new_reserve" (click) = "onEdit()" >Nueva reserva</button>
        <hr>
        <a mat-list-item [routerLink]="['/dashboard']">Información</a>
        <hr>
        <a mat-list-item [routerLink]="['/reserva']">Reservas</a>
        <hr>
        <a mat-list-item [routerLink]="['/infoReserva']">Infomacion Reservas</a>
        <hr>
        <a mat-list-item [routerLink]="['/facturacion']">Facturación</a>
        <hr>
        <a mat-list-item [routerLink]="['/user']">Clientes</a>
        <hr>
        <a mat-list-item [routerLink]="['/inventario']">Inventario</a>
        <hr>
       </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-toolbar-row>
          <span><h1>Hotel Yeimar</h1></span>
          <span class="example-spacer"></span>

          <button mat-button class="link-btn" [routerLink]="['/establecimiento']">
              <i class="material-icons">business</i> Mi Establecimiento
            </button>
          <button mat-button [matMenuTriggerFor]="manager">
              <i class="material-icons">group</i> Administrador
          </button>
          <mat-menu #manager="matMenu">
              <button mat-menu-item [routerLink]="['/buzon']">
                <i class="material-icons">mail_outline</i> Buzon de sugerencias</button>
          <button mat-menu-item [routerLink]="['/contrasena']">
            <i class="material-icons">vpn_key</i> Datos de acceso</button>
          <button mat-menu-item>
              <i class="material-icons">exit_to_app</i> Cerrar sesión</button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="help">
              <i class="material-icons">help</i> Ayuda</button>
          <mat-menu #help="matMenu">
          <button mat-menu-item (click)="openFile()">
              <i class="material-icons">book</i> Manual</button>

          <button mat-menu-item [routerLink]="['/primerosPasos']">
            <i class="material-icons">child_care </i> Primeros pasos</button>
          </mat-menu>
        </mat-toolbar-row>

      </mat-toolbar>
      <div class="Conteiner">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
