<div class="conteiner">
    <h1 mat-dialog-title>Agregar compra producto  {{data.name}}</h1>
    <hr>
    <form class="form-main">


      <div class="form-group">
        <label for="text"><b><h4>Provedor del producto</h4></b> </label>
         <mat-form-field  class="full-width">
          <mat-select
            placeholder="Provedor"
            [formControl]="selectControl"

            required
          >
            <mat-option>Seleccione un provedor del producto</mat-option>
            <mat-option
              *ngFor="let provider of providerList"
              [value]="provider.id"
            >{{ provider.nameProvider }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="selectControl.hasError('required')"
            >Por favor, seleccione el provedor</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="text"><b><h4>Fecha de Compra</h4></b> </label>
        <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    <div class="form-group">
      <label for="text"><b><h4>Cantidad</h4></b> </label>
      <mat-form-field class="full-width">
        <input matInput #cat type="text"   maxLength="5" placeholder="Ingrese la cantidad base" [formControl]="quantityControl"  [(ngModel)]="quantity">
        <mat-hint align="end">{{ cat.value.length }} / 5</mat-hint>
        <mat-error *ngIf="quantityControl.hasError('maxLength') && !quantityControl.hasError('required')">
          Por favor ingrese la cantidad base
        </mat-error>
        <mat-error *ngIf="quantityControl.hasError('required')">
          La cantidad  base <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>


    <div class="form-group">
      <label for="text"><b><h4>Precio</h4></b> </label>
      <mat-form-field class="full-width">
        <input matInput  type="text"  #pre maxLength="5" placeholder="Ingrese el precio" [formControl]="priceFormControl"  pattern="[0-9]+"  [(ngModel)]="price">
        <mat-hint align="end">{{ pre.value.length }} / 5</mat-hint>
        <mat-error *ngIf="priceFormControl.hasError('maxLength') && !priceFormControl.hasError('required')">
          Por favor ingrese un precio
        </mat-error>
        <mat-error *ngIf="priceFormControl.hasError('required')">
          El precio es  <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cerrar sin guardar</button>
        <button mat-button (click)="saveOurUpdate()" cdkFocusInitial>Guardar</button>
      </div>
    </form>
</div>

