  <div class="conteiner">
  <mat-list-item>
    <h1>Datos del hotel</h1>
    <hr>
  </mat-list-item>
  <mat-divider></mat-divider>

  <div class="principal">
    <div class="basic">
      <h2>Datos basicos</h2>
      <form class="main-form">
          <div *ngIf="!valid" class="alert alert-danger" role="alert">
              <strong>Tenemos un error !</strong> {{ messageInfo }}
            </div>
        <div class="form-group">
          <label for="actual"> <span class="required" *ngIf="!valid">*</span>Nombre: </label>
          <input type="text" class="form-control" name="name" required [(ngModel)]="dataHotelActally.nameHotel"/>
        </div>
        <div class="form-group">
          <label for="actual">
            <span class="required" *ngIf="!valid">*</span>Razón social:
          </label>
          <input type="text" class="form-control" name="razon" [(ngModel)]="dataHotelActally.razonHotel"/>
        </div>
        <div class="form-group">
          <label for="actual">
            <span class="required" *ngIf="!valid">*</span>NIF / N° Fiscal</label
          >
          <input type="text" class="form-control" name="nif" required [(ngModel)]="dataHotelActally.nifHotel"/>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>

    <div class="contact">
      <h2>Información de contacto</h2>
      <form class="main-form">
        <div class="form-group">
          <label for="actual">
            <span class="required" *ngIf="!valid">*</span>Telefono de contacto</label
          >
          <input type="tel" class="form-control" name="phone" required [(ngModel)]="dataHotelActally.phoneHotel"/>
        </div>
        <div class="form-group">
          <label for="actual">
            <span class="required" *ngIf="!valid">*</span>E-mail de contacto
          </label>
          <input type="email" class="form-control" name="email" [(ngModel)]="dataHotelActally.emailHotel"/>
        </div>
      </form>
    </div>
    <mat-divider></mat-divider>

    <div class="location">
      <h2>Localización</h2>
      <form class="main-form">
        <div class="form-group">
          <label for="actual">
            <span class="required" *ngIf="!valid" >*</span>Departamento</label
          >
          <input type="text" class="form-control" name="department" required [(ngModel)]="dataHotelActally.departmentHotel"/>
        </div>
        <div class="form-group">
          <label for="actual"> <span class="required" *ngIf="!valid">*</span>Ciudad</label>
          <input type="text" class="form-control" name="city" [(ngModel)]="dataHotelActally.cityHotel" />
        </div>
        <div class="form-group">
          <label for="actual"> <span class="required" *ngIf="!valid">*</span>Dirección</label>
          <input type="text" class="form-control"name="addres"  required [(ngModel)]="dataHotelActally.addresHotel"/>
        </div>
        <div class="row div-btn">
          <div class="col-xl-6 text-center">
            <button type="submit" class="btn btn-primary btn-block btn-lg" (click)="saveOurUpdate()">
              Guardar
            </button>
          </div>
          <div class="col-xl-6 text-center">
            <button
              type="button"
              [routerLink]="['/establecimiento']"
              class="btn btn-success btn-block btn-lg"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
